mindmap/ArchetypeFinderBean.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://Properties.archetypeServlet" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns2="http://model.owl.protegex.smi.stanford.edu" xmlns:impl="http://archetypeServlet" xmlns:intf="http://archetypeServlet" targetNamespace="http://archetypeServlet" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://archetypeServlet">
      <xsd:import namespace="http://model.owl.protegex.smi.stanford.edu" />
      <xsd:import namespace="http://Properties.archetypeServlet" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_xsd_anyType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:anyType[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="setOwlModelResponse" />
  <wsdl:message name="getArchetypeIdsResponse">
    <wsdl:part name="getArchetypeIdsReturn" type="intf:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="setExcludedParametersForSearchModelResponse" />
  <wsdl:message name="setExcludedParametersForSearchModelRequest">
    <wsdl:part name="excludedParametersForSearch" type="intf:ArrayOf_xsd_anyType" />
  </wsdl:message>
  <wsdl:message name="getArchetypeADLURL_langRequest">
    <wsdl:part name="archetypeId" type="xsd:string" />
    <wsdl:part name="language" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeHTMLURL_langRequest">
    <wsdl:part name="archetypeId" type="xsd:string" />
    <wsdl:part name="language" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeHTMLURLRequest">
    <wsdl:part name="archetypeId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeHTMLURL_langResponse">
    <wsdl:part name="getArchetypeHTMLURL_langReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeInHTMLRequest">
    <wsdl:part name="archetypeId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeADLURLResponse">
    <wsdl:part name="getArchetypeADLURLReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeIdsFromPartialIdResponse">
    <wsdl:part name="getArchetypeIdsFromPartialIdReturn" type="intf:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="getArchetypeADLURLRequest">
    <wsdl:part name="archetypeId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeInADLResponse">
    <wsdl:part name="getArchetypeInADLReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeInADLRequest">
    <wsdl:part name="archetypeId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeInHTMLResponse">
    <wsdl:part name="getArchetypeInHTMLReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeADLURL_langResponse">
    <wsdl:part name="getArchetypeADLURL_langReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDescriptionForArchetypeRequest">
    <wsdl:part name="archetypeId" type="xsd:string" />
    <wsdl:part name="language" type="xsd:string" />
    <wsdl:part name="descriptionTerms" type="intf:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="getDescriptionForArchetypeResponse">
    <wsdl:part name="getDescriptionForArchetypeReturn" type="intf:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="setMyServletPropertiesRequest">
    <wsdl:part name="myServletProperties" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="setOwlModelRequest">
    <wsdl:part name="owlModel" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="getArchetypeHTMLURLResponse">
    <wsdl:part name="getArchetypeHTMLURLReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getArchetypeIdsRequest">
    <wsdl:part name="searchParams" type="intf:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="setMyServletPropertiesResponse" />
  <wsdl:message name="getArchetypeIdsFromPartialIdRequest">
    <wsdl:part name="archetypeIdPart" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ArchetypeFinderBean">
    <wsdl:operation name="setMyServletProperties" parameterOrder="myServletProperties">
      <wsdl:input name="setMyServletPropertiesRequest" message="intf:setMyServletPropertiesRequest" />
      <wsdl:output name="setMyServletPropertiesResponse" message="intf:setMyServletPropertiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="setOwlModel" parameterOrder="owlModel">
      <wsdl:input name="setOwlModelRequest" message="intf:setOwlModelRequest" />
      <wsdl:output name="setOwlModelResponse" message="intf:setOwlModelResponse" />
    </wsdl:operation>
    <wsdl:operation name="setExcludedParametersForSearchModel" parameterOrder="excludedParametersForSearch">
      <wsdl:input name="setExcludedParametersForSearchModelRequest" message="intf:setExcludedParametersForSearchModelRequest" />
      <wsdl:output name="setExcludedParametersForSearchModelResponse" message="intf:setExcludedParametersForSearchModelResponse" />
    </wsdl:operation>
    <wsdl:operation name="getArchetypeIdsFromPartialId" parameterOrder="archetypeIdPart">
      <wsdl:input name="getArchetypeIdsFromPartialIdRequest" message="intf:getArchetypeIdsFromPartialIdRequest" />
      <wsdl:output name="getArchetypeIdsFromPartialIdResponse" message="intf:getArchetypeIdsFromPartialIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getArchetypeIds" parameterOrder="searchParams">
      <wsdl:input name="getArchetypeIdsRequest" message="intf:getArchetypeIdsRequest" />
      <wsdl:output name="getArchetypeIdsResponse" message="intf:getArchetypeIdsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDescriptionForArchetype" parameterOrder="archetypeId language descriptionTerms">
      <wsdl:input name="getDescriptionForArchetypeRequest" message="intf:getDescriptionForArchetypeRequest" />
      <wsdl:output name="getDescriptionForArchetypeResponse" message="intf:getDescriptionForArchetypeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getArchetypeInADL" parameterOrder="archetypeId">
      <wsdl:input name="getArchetypeInADLRequest" message="intf:getArchetypeInADLRequest" />
      <wsdl:output name="getArchetypeInADLResponse" message="intf:getArchetypeInADLResponse" />
    </wsdl:operation>
    <wsdl:operation name="getArchetypeInHTML" parameterOrder="archetypeId">
      <wsdl:input name="getArchetypeInHTMLRequest" message="intf:getArchetypeInHTMLRequest" />
      <wsdl:output name="getArchetypeInHTMLResponse" message="intf:getArchetypeInHTMLResponse" />
    </wsdl:operation>
    <wsdl:operation name="getArchetypeHTMLURL" parameterOrder="archetypeId">
      <wsdl:input name="getArchetypeHTMLURLRequest" message="intf:getArchetypeHTMLURLRequest" />
      <wsdl:output name="getArchetypeHTMLURLResponse" message="intf:getArchetypeHTMLURLResponse" />
    </wsdl:operation>
    <wsdl:operation name="getArchetypeHTMLURL_lang" parameterOrder="archetypeId language">
      <wsdl:input name="getArchetypeHTMLURL_langRequest" message="intf:getArchetypeHTMLURL_langRequest" />
      <wsdl:output name="getArchetypeHTMLURL_langResponse" message="intf:getArchetypeHTMLURL_langResponse" />
    </wsdl:operation>
    <wsdl:operation name="getArchetypeADLURL" parameterOrder="archetypeId">
      <wsdl:input name="getArchetypeADLURLRequest" message="intf:getArchetypeADLURLRequest" />
      <wsdl:output name="getArchetypeADLURLResponse" message="intf:getArchetypeADLURLResponse" />
    </wsdl:operation>
    <wsdl:operation name="getArchetypeADLURL_lang" parameterOrder="archetypeId language">
      <wsdl:input name="getArchetypeADLURL_langRequest" message="intf:getArchetypeADLURL_langRequest" />
      <wsdl:output name="getArchetypeADLURL_langResponse" message="intf:getArchetypeADLURL_langResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArchetypeFinderBeanSoapBinding" type="intf:ArchetypeFinderBean">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="setMyServletProperties">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="setMyServletPropertiesRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="setMyServletPropertiesResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setOwlModel">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="setOwlModelRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="setOwlModelResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setExcludedParametersForSearchModel">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="setExcludedParametersForSearchModelRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="setExcludedParametersForSearchModelResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchetypeIdsFromPartialId">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getArchetypeIdsFromPartialIdRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getArchetypeIdsFromPartialIdResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchetypeIds">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getArchetypeIdsRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getArchetypeIdsResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDescriptionForArchetype">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDescriptionForArchetypeRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getDescriptionForArchetypeResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchetypeInADL">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getArchetypeInADLRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getArchetypeInADLResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchetypeInHTML">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getArchetypeInHTMLRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getArchetypeInHTMLResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchetypeHTMLURL">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getArchetypeHTMLURLRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getArchetypeHTMLURLResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchetypeHTMLURL_lang">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getArchetypeHTMLURL_langRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getArchetypeHTMLURL_langResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchetypeADLURL">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getArchetypeADLURLRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getArchetypeADLURLResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchetypeADLURL_lang">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getArchetypeADLURL_langRequest">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getArchetypeADLURL_langResponse">
        <wsdlsoap:body use="encoded" namespace="http://archetypeServlet" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArchetypeFinderBeanService">
    <wsdl:port name="ArchetypeFinderBean" binding="intf:ArchetypeFinderBeanSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/services/ArchetypeFinderBean" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>